venv2/
protos/
.vscode/
ToDo.py
db_test.py
.env
env-example
builder
db_test.py
__pycache__/
*.py[cod]
*$py.class
node_modules
*.so
*.db*
.Python
env/
[v.]env*/
p*[23]*/
build/
develop-eggs/
dist_build/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
.installed.cfg
*.egg*/
venv/
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
coverage_output
*.mo
*.pot
*.log
docs/_build/
.scannerwork
target/
.project
.idea
*.iml
**/allure-report/
**/output/
env
.pytest_cache
.python-version
**/src/
.DS_Store
package-lock.json
release-build
proto_test.py
