venv/
protos/
.vscode/
ToDo.py
db_test.py
.env
env-example
db_test.py
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.db*
# Distribution / packaging
.Python
env/
[v.]env*/
p*[23]*/
build/
develop-eggs/
dist_build/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
.installed.cfg
*.egg*/
venv/
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
coverage_output

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

#Sonarqube
.scannerwork

# PyBuilder
target/

# IDEA
.project
.idea
*.iml

# Allure ignore
**/allure-report/
**/output/

# virtualenv
env

# PyTest
.pytest_cache

#pyenv
.python-version

#sources folder
**/src/

# MacOS artifacts
.DS_Store
